@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

#sectionAbout {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 60px 22%;
    background: $gradient;

     article {
        color: $dark-font;
        width: 400px;
        border-radius: 20px;
        background-color: $light;
        border: 2px solid rgba(255, 255, 255, 0.36);
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.105);
        padding: 40px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 28px;
    }

    p {
        font-weight: 400;
    }
}

body.light #sectionAbout {
    background: $light;
}

#sectionAbout>div:first-child {
    display: flex;
    justify-content: center;
}

#sectionAbout>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    gap: 26px
}

.aboutDivImg {
    border: 100px;
    text-align: center;
}

.aboutDivTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
        text-align: center;
    }
}

.imgSobreMi {
    width: 100px;
}