@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

#sectionSkillsCareer {
    padding: 60px 22%;
    display: flex;
    justify-content: center;
    gap: 20px;

    .typeSkills {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        background: $gradient-dark-deg;
        padding: 20px 30px;
        border-radius: 10px;
    }

    .typeCareer {
        // width: 400px;
        background: $gradient-dark-deg;
        border-radius: 10px;
    }

    aside {
        width: 80px;

        h6 {
            color: $light-soft;
        }
    }
}

#sectionSkillsCareer > article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.technologies {
    display: flex;
    gap: 30px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        width: 50px;

        img {
            height: 36px;
        }

        .mongo {
            height: 14px;
        }

        h5 {
            font-weight: 400;
        }
    }

}

