header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // position: fixed;
}

nav {
    display: flex;
    align-items: center;
    gap: 16px
}