@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

#sectionSkills {
    padding: 60px 22%;
    display: flex;
    justify-content: center;
    gap: 20px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

#sectionSkills > article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.technologies {
    display: flex;
    gap: 30px;

    img {
        height: 36px;
    }
}